.advantages__header {
  padding: 35px 18px;

  @media (min-width: @tablet-width) {
    width: 520px;
    margin: 52px auto 55px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 61px auto 45px;
  }
}

.advantages__item:nth-last-child(-n+3) {
  &:nth-last-child(n+2)::before {
    position: absolute;
    width: 284px;
    height: 1px;
    background-color: #d6d6d6;
    content: "";
    bottom: 0;
    left: 18px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
  position: relative;
  background-color: #eeeeee;
  color: #333333;
  padding: 25px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.advantages__item:nth-last-child(-n+3) > .advantages__description {
  width: 257px;
  margin: 0 auto;

  .advantages-list__transfer-text {
    display: none;
  }

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    br {
      display: block;
    }
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    br {
      display: none;
    }

    .advantages-list__transfer-text {
      display: block;
    }
    width: 290px;
    margin-bottom: 62px;
  }
}

.advantages__item:nth-last-child(-n+3) > .advantages__subtitle {
  @media (min-width: @desktop-width) {
    margin-top: 41px;
  }
}

.advantages__image {
  width: auto;
}

.advantages__title,
.advantages__subtitle {
  .font-title();
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration: none;
}

.advantages__title {
  margin-bottom: 36px;
  width: 265px;

  @media (min-width: @tablet-width) {
    width: 440px;
    font-size: 21px;
    margin-bottom: 27px;
  }
}

.advantages__subtitle {
  margin-bottom: 12px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 151px;
    margin-top: 40px;
    font-size: 21px;

    br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 47px;
  }
}

.advantages__text {
  .font-text();
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.advantages__description,
.advantages__number {
  .font-text();
  margin: 0;
  display: block;
}

.advantages__number {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }
}

.advantages__advantages-item {
  .blue-color();
  list-style-type: none;
  color: #ffffff;
  padding: 38px 16px 35px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    width: 256px;
  }
}

.advantages__description {
  .advantages-list__transfer-text {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 191px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 290px;
    margin-bottom: 56px;

    .advantages-list__transfer-text {
      display: block;
    }
  }
}

.advantages__advantages-item--first {
  padding: 49px 18px 40px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__bottom-vector {
  position: relative;

  &::before {
    position: absolute;
    background-image: url("../img/advantage-vector-right.svg");
    width: 100%;
    height: 37px;
    background-position: 159px;
    background-repeat: no-repeat;
    content: "";
    bottom: -19px;
  }

  &::after {
    position: absolute;
    background-image: url("../img/advantage-vector-left.svg");
    width: 100%;
    height: 37px;
    background-position: 0;
    background-repeat: no-repeat;
    content: "";
    bottom: -19px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item .advantages__advantages-item:first-child {
    width: 256px;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item .advantages__advantages-item:first-child {
    width: 400px;
    order: 2;
  }
}


@media (min-width: @tablet-width) {
  .advantages__image {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item {
    width: 256px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__bottom-vector {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    max-width: 1200px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__advantages-item {
    width: 400px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__image {
    width: 800px;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    width: 400px;
  }
}
