.gallery__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  list-style-type: none;
}

.gallery__user-like-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
  @media (min-width: @desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -80px;
  }
}

.gallery__description {
  text-align: start;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 0;
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.gallery__user {
  .font-text();
  display: block;
  text-align: start;
  text-transform: none;
  color: #333333;
  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.gallery__user-container {
  @media (min-width: @tablet-width) {
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 22px;
  }
  @media (min-width: @desktop-width) {
    color: #ffffff;
    margin-top: 20px;
  }
}

.gallery__item {
  position: relative;
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    background-color: #f2f2f2;
  }
  &::before {
    position: absolute;
    bottom: 0;
    left: -20px;
    height: 1px;
    width: 320px;
    background-color: #e5e5e5;
    content: "";
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.gallery__item:not(:last-child) {
  margin-bottom: 24px;
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.gallery__item:nth-child(1) .gallery__image:nth-child(3) {
  @media (min-width: @tablet-width) {
    min-width: 648px;
    height: auto;
  }
  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 400px;
  }
}

@media (min-width: @tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
    margin: auto;
    max-width: 648px;
  }
}

@media (min-width: @tablet-width) {
  .gallery__item:nth-child(1) {
    grid-column: 2 span;
  }
}

@media (min-width: @tablet-width) {
  .gallery__item:nth-child(3) {
    background-color: #eaeaea;
  }
}

@media (min-width: @tablet-width) {
  .gallery__image {
    min-width: 324px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .gallery__item:nth-child(1) {
    grid-column: 3 span;
  }
}

@media (min-width: @desktop-width) {
  .gallery__image {
    min-width: 400px;
    height: 267px;
  }
}
