.gallery__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.gallery__description,
.gallery__number-like{
  .font-title();
  text-align: start;
}

.gallery__user {
  .font-text();
  display: block;
  text-align: start;
  text-transform: none;
  color: #333333;
}
.gallery__button-like{
  border: none;
  background-color: #ffffff;
}
.gallery__item{
  position: relative;
  &::before {
    position: absolute;
    bottom: 0;
    left: -20px;
    height: 1px;
    width: 320px;
    background-color: #E5E5E5;
    content: "";
  }
}
.gallery__image{
  margin-top: 24px;
}

@media (min-width: @tablet-width){
  .gallery__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 60px;
  margin: auto;
  max-width: 648px;
  }
}
@media (min-width: @tablet-width){
  .gallery__item:nth-child(1){
    grid-column: 2 span;
  }
}
@media (min-width: @desktop-width){
  .gallery__list{
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  padding: 0;
  }
}
@media (min-width: @desktop-width){
  .gallery__item:nth-child(1){
    grid-column: 3 span;
  }
}
@media (min-width: @desktop-width){
  .gallery__image{
    min-width: 400px;
  }
}
