.image-welcome {
  background-color: #5d8585;
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
}
.image-welcome__logo-main{
  margin-top: 90px;
  margin-left: 19px;
  margin-bottom: 85px;
}

.bottom-vector{
  &::before {
    position: absolute;
    background-image: url(../img/vector-right-welcome.svg);
    width: 600px;
    height: 57px;
    background-position: 160px;
    background-repeat: no-repeat;
    content: "";
    bottom: 0px;
  }
  &::after {
    position: absolute;
    background-image: url(../img/vector-left-welcome.svg);
    width: 600px;
    height: 57px;
    background-position: 0;
    background-repeat: no-repeat;
    content: "";
    bottom: 0px;
  }
}
@media (min-width: @tablet-width) {
  .image-welcome{
  background-image: url(../img/back-tablet.png);
  }
}
@media (min-width: @desktop-width) {
  
  .image-welcome{
  background-image: url(../img/back-desktop.png);
  }
}
