.map {
  position: relative;
}
.map::before{
  position: absolute;
  width: 22px;
  height: 22px;
  content:"";
  border-radius: 50%;
  background-color: #81B3D3;
  border: 5px solid #ffffff;
  z-index: 3;
  top: 151px;
  left: 147px;
}
