.modal {
  padding: 45px 42px 35px;
  @media (min-width: @tablet-width) {
    width: 400px;
    margin: auto;
  }
}

.modal__title {
  .font-title();
}

.modal__description {
  .font-text();
}

.modal__button {
  .blue-color();
  .font-title();
  margin: 5px auto;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 284px;
  display: block;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: #669ec0;
  }
  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
  &:disabled {
    background-color: #e5e5e5;
  }
}

.modal--positive {
  padding: 0;
}

.modal--positive .modal__title {
  margin-top: 39px;
}

.modal--positive .modal__description {
  width: 244px;
  margin: 30px auto;
}

.modal__button--positive {
  width: 180px;
}

.modal__button-container {
  padding: 20px;
  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .modal--positive {
    width: 640px;
  }
}
