.page-main__logo-container {
  background-color: #5d8585;
  background-image: url(../img/back-mobile.jpg);
  background-size: cover;

}
.page-main__logo{
  padding: 52px 45px 67px;
}
.page-main__title{
  .font-title();
}
.page-main__description{
  .font-text();
  color: #333333;
}
.page-main {
  border-bottom: 1px solid #E5E5E5;
}
