.page-main__logo-container {
  background-color: #5d8585;
  background-image: url(../img/back-mobile.jpg);
  background-size: cover;

}
.page-main__logo{
  margin: 0 auto;
  display: block;
  padding-top: 52px;
  padding-bottom: 50px;
}
.page-main__title{
  .font-title();
}
.page-main__description{
  .font-text();
  color: #333333;
}
.page-main {
  border-bottom: 1px solid #E5E5E5;
}
@media (min-width: @tablet-width){
  .page-main__description{
    line-height: 24px;
  }
}
@media (min-width: @tablet-width){
  .page-main__title{
    font-size: 30px;
  }
}
