.reviews__contacts,
.reviews__filter-radio,
.reviews__filter-checkbox{
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
}
.reviews {
  margin: auto 20px;
}
.reviews__title{
  .font-title();
  display: block;
  margin-bottom: 20px;
  padding-top: 24px;
}
.reviews__label,
.reviews__contacts-phone,
.reviews__email{
  .font-text();
  color:#333333;
  margin-left: 16px;
}
.reviews__text-control{
  .font-title();
  text-align: start;
  border: none;
  background-color: #F2F2F2;
  width: 248px;
  padding: 16px;
  margin-bottom: 16px;
}
.reviews__contacts-phone,
.reviews__email {
  position: relative;
}
.rewiews__image-email {
  position: absolute;
  top: 20px;
  right: 0;
}
.rewiews__image-phone {
  position: absolute;
  top: 20px;
  right: -264px;
}
.reviews__input {
  width: 100%;
  border: none;
  background-color: #F2F2F2;
}
.text-control{
  color: rgba(0, 0, 0, 0.3);
}
.reviews__list{
  list-style-type: none;
  .font-title();
  text-align: start;
}

.reviews__contacts,
.reviews__filter-radio,
.reviews__filter-checkbox{
  border-bottom: 1px solid #E5E5E5;
}
.reviews__submit{
  .blue-color();
  .font-title();
  margin: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 284px;
  display: block;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}
.reviews__note{
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  display: block;
  color: rgba(51, 51, 51, 0.6);
  margin-left: 163px;
}
.reviews__input::placeholder {
  .font-title();
  text-align: start;
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: @tablet-width){
  .reviews{
    margin: auto 60px ;
  }
}
@media (min-width: @tablet-width){
  .reviews__user{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: @tablet-width){
  .reviews__contacts{
    display: flex;
    flex-direction: column;

  }
}
@media (min-width: @tablet-width){
  .reviews__filter-radio{
    grid-column: span 2;
  }
}
@media (min-width: @tablet-width){
  .reviews__filter-checkbox{
    grid-column: span 2;
  }
}
@media (min-width: @tablet-width){
  .reviews__user-message{
    max-width: 768px;
    grid-column: span 2;
  }
}
@media (min-width: @tablet-width){
  .reviews__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @tablet-width){
  .modal{
    width: 400px;
    margin: auto;
  }
}
@media (min-width: @tablet-width){
  .modal--positive{
    width: 640px;}
}

@media (min-width: @desktop-width){
  .reviews__list{
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: @desktop-width){
  .reviews__user-message{
    margin: auto;
    width: 768px;
  }
}
