.search__title {
  .font-title();
}
.search__text {
  .font-text();
  color: #333333;
}
.search__link {
  .blue-color();
  .font-title();
  margin: auto;
  margin-bottom: 49px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 284px;
  display: block;
  text-decoration-line: none;
  color: #ffffff;
}
