.video-gallery__video-title {
  .font-title();
  margin: 17px 0 30px;
  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.video-gallery__video-description {
  .font-text();
  width: 266px;
  margin: 0 auto 38px;
  @media (min-width: @tablet-width) {
    width: 455px;
    margin: 0 auto 91px;
  }
}

.video-gallery__video {
  display: block;
  margin: auto;
  width: 280px;
}

.video-gallery__video-button {
  border: none;
  background: transparent;
  position: absolute;
  left: 138px;
  bottom: 58px;
  @media (min-width: @tablet-width) {
    left: 355px;
    bottom: 261px;
  }
  @media (min-width: @desktop-width) {
    left: 568px;
    bottom: 308px;
  }
}

.video-gallery {
  position: relative;
  @media (min-width: @tablet-width) {
    padding: 40px 60px 40px;
  }
}

@media (min-width: @tablet-width) {
  .video-gallery__video {
    width: 648px;
    height: 500px;
    object-fit: inherit;
  }
}

@media (min-width: @desktop-width) {
  .video-gallery {
    padding-top: 43px;
    padding-bottom: 84px;
  }
}

@media (min-width: @desktop-width) {
  .video-gallery__video{
    width: 800px;
  }
}
