.video-gallery__video-title{
  .font-title();
}
.video-gallery__video-description{
  .font-text();
}
.video-gallery__video {
  margin-left: 20px;
}
.video-gallery__video-button{
  border: none;
  background: transparent;
  position: absolute;
  left: 128px;
  bottom: 60px;
}
.video-gallery{
  position: relative;
}
