// Начните писать стили здесь
@import url(./blocks/page-header.less);
@import url(components/fonts.less);
@import url(./blocks/advantages.less);
@import url(./blocks/catalog.less);
@import url(./blocks/form.less);
@import url(./blocks/gallery.less);
@import url(./blocks/image-welcome.less);
@import url(./blocks/index-main.less);
@import url(./blocks/map.less);
@import url(./blocks/page-footer.less);
@import url(./blocks/page-main.less);
@import url(./blocks/reviews.less);
@import url(./blocks/search.less);
@import url(./blocks/social.less);
@import url(components/colors.less);
@import url(./blocks/nav.less);

body {
  font-family: "PT Sans", sans-serif;
  width: 320px;
  text-transform: uppercase;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
